@CHARSET "ISO-8859-1";

.race-view {
	box-sizing: border-box;
	padding: 50px;
	width: 100%;
	height: 500px;
}
canvas.race-display {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #4a4a4a;
}
.game-tick-slider {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.load-race-button-label {
	display: inline;
	margin-right: 5px;
}

.chart {
  border: 1px solid #4a4a4a;
  margin: 8px;
  padding: 6px;
  float: left;
}
